<h1><%= @team.name %> Detail:</h1>
<ul>
    <li>Wins: <%= @team.won %></li>
    <li>Losses: <%= @team.lost %></li>
    <li>Shootout Losses: <%= @team.shootout_loss %></li>
</ul>

<%= link_to "Update Team", "/teams/#{@team.id}/edit" %>

<%= button_to "Delete Team", "/teams/#{@team.id}", method: :delete%>


<%= link_to "Divisions", "/divisions" %><%= link_to "Teams", "/teams" %>
