<h1>Beer League Divisions</h1>

<% @divisions.order({ created_at: :desc }).each do |division| %>
  <h3><%= link_to division.name, "/divisions/#{division.id}" %></h3>
  <p>Created: <%= division.created_at %></p>
  <%= button_to "Update #{division.name} Info", "/divisions/#{division.id}/edit", method: :get %>
  <%= button_to "Delete Division", "/divisions/#{division.id}", method: :delete %>
<% end %>

<hr>
<p><%= link_to "New Division", "/divisions/new" %></p>
<p><%= link_to "Teams", "/teams" %></p>