<h1><%= @division.name %> Teams:</h1>

<% @teams.each do |team| %>
  <h3><%= link_to team.name, "/teams/#{team.id}" %></h3>
  <ul>
    <li>Wins: <%= team.won %></li>
    <li>Losses: <%= team.lost %></li>
    <li>Shootout losses: <%= team.shootout_loss %></li>
  </ul>
  <%= button_to "Update #{team.name} Info", "/teams/#{team.id}/edit", method: :get  %>
  <%= button_to "Delete Team", "/teams/#{team.id}", method: :delete%>
<% end %>

<hr>
<p><%= link_to "Create Team", "/divisions/#{@division.id}/teams/new" %></p>
<p><%= link_to "Sort Alphabetical", "/divisions/#{@division.id}/teams?sort=alpha" %></p>
<%= form_with url: "/divisions/#{@division.id}/teams", method: :get, local: true do |form| %>
  <%= form.label :wins_over %>
  <%= form.number_field :wins_over %>
  <%= form.submit "Only return records with more than (number) wins" %>
<% end %>

<hr>
<p><%= link_to "Divisions", "/divisions" %></p>
<p><%= link_to "Teams", "/teams" %></p>

